<section class="tag-wrapper">
  <div class="tag" *ngFor="let mainTag of (mainTags$ | async)">
    <span class="tag__main-label">{{mainTag.description}}</span>
    <span class="tag__main-value">{{mainTag.value}}</span>
  </div>
</section>
<section class="d-flex flex-column">
  <h4 style="background: bisque;" class="px-2 m-0">Tags</h4>
  <div class="tag-wrapper">
    <div class="tag" *ngFor="let additionalTag of (additionalTags$ | async)">
      <span>{{additionalTag.icon}}</span>
      <span>{{additionalTag.description}}</span>
      <span *ngIf="additionalTag?.remain">[{{additionalTag?.remain}}]</span>
    </div>
  </div>
</section>
<section class="d-flex flex-column" style="min-height: 0px;">
  <h4 style="background: bisque;" class="px-2 m-0">Description</h4>
  <div style="overflow: auto;">
    <div class="m-3 text-justify">
      {{(current$ | async)?.description}}
    </div>
  </div>
</section>