<article *ngIf="partyData$ | async as partyData; else loading" class="party">
  <figure class="party__image-wrapper">
    <img class="party__image" [src]="partyData.img"/>
  </figure>
  <section class="party__contetnt-wrapper d-flex flex-column flex-fill">
    <nav class="d-flex flex-wrap btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn d-none"></label> 
      <a 
        *ngFor="let button of navigationButtons"
        class="btn btn-dark flex-fill" 
        style="cursor: pointer;"
        routerLink="./{{button.routerLink}}"
        [routerLinkActiveOptions]="{exact: true}"
        routerLinkActive="active"
      >
        <input type="radio"/>{{button.name}}
      </a>
      <label class="btn d-none"></label>
    </nav>
    <header class="wrapper">
      <h5 class="header">{{partyData.title}}</h5>
    </header>
    <div class="party__content">
      <router-outlet></router-outlet>
    </div>
  </section>
</article>
<ng-template #loading>
  <div class="loader loader--fill">
    <div appSpinner="gray"></div>
  </div>
</ng-template>