<article *ngIf="partyData$ | async as partyData; else loading" class="party">
  <figure class="party__image-wrapper">
    <img class="party__image" [src]="partyData.img"/>
  </figure>
  <section class="d-flex flex-column flex-fill">
    <nav class="d-flex flex-wrap"> 
      <a class="btn btn-primary flex-fill" routerLink="./">Info</a>
      <a class="btn btn-primary flex-fill" routerLink="./participants">Participants</a>
      <a class="btn btn-primary flex-fill" routerLink="./stuff">Party stuff</a>
      <a class="btn btn-primary flex-fill" routerLink="./vote">Voting</a>
      <a class="btn btn-primary flex-fill" routerLink="./comments">Comments</a>
    </nav>
    <span class="wrapper">
      <h5 class="header">{{partyData.title}}</h5>
    </span>
    <div class="content d-flex flex-column flex-fill">
      <router-outlet></router-outlet>
    </div>
  </section>
</article>
<ng-template #loading>
  <div class="loader loader--fill">
    <div appSpinner="gray"></div>
  </div>
</ng-template>