<nav class="navigation">
  <bdi class="ico">🎉</bdi>
  <section class="navigation__list">
    <h5 class="navigation-header">Navigation</h5>
    <div class="navigation__group" routerLink="">
      <a class="navigation__group-links">Main</a>
    </div>
    <div class="navigation__group" routerLink="/parties">
      <a class="navigation__group-links">Create</a>
    </div>
    <div class="navigation__group" routerLink="/parties">
      <a class="navigation__group-links">Parties</a>
    </div>
    <div class="navigation__group" routerLink="/">
      <a class="navigation__group-links">Reckonings</a>
    </div>
  </section>
  <section class="navigation__list">
    <h5 class="navigation-header">Other</h5>
    <div class="navigation__group" routerLink="/" (click)="logOut()">
      <a class="navigation__group-links">My profile</a>
    </div>
    <div class="navigation__group" routerLink="/auth" (click)="logOut()">
      <a class="navigation__group-links">Log out</a>
    </div>
  </section>
</nav>