<nav class="navbar navbar-light bg-light border-bottom">
  <span class="navbar-brand">Sign in</span>
  <form class="form-inline">
    <span class="mr-sm-2 d-flex flex-column">
      <a routerLink="./up" routerLinkActive="active">Not registered yet?</a>
      <a routerLink="./" routerLinkActive="active">Forgot password?</a>
    </span>
    <input class="form-control mr-sm-2" placeholder="Login"/>
    <input class="form-control mr-sm-2" placeholder="Password"/>
    <input class="btn btn-outline-dark my-2 my-sm-0" value="Log In" (click)="logIn()" type='button'/>
  </form>
</nav>