<article class="d-flex flex-column flex-fill">
  <section class="mx-auto my-2 p-4">
    <h3 class="text-secondary mx-auto text-center">🎉 ThisIsParty 🎉</h3>
    <form #form class="m-3" (ngSubmit)="signIn(form)" (change)="form.reportValidity()" class="m-3">
      <p>
        <label>📧 Email</label>
        <input required size="32" type="email" [(ngModel)]="details.email" pattern="[a-zA-Z][a-zA-Z1-9]*@[a-zA-Z]+\.[a-zA-Z]+" class="form-control" placeholder="Enter email" name="email">
      </p>
      <p>
        <label>📝 Password</label>
        <input required minlength="6" type="password" [(ngModel)]="details.password" class="form-control" placeholder="Password" name="password">
      </p>
      <p class="d-flex flex-column">
        <button type="submit" class="btn btn-outline-primary m-2 px-5">Login</button>
      </p>
      <figure class="d-flex flex-column">
        <img class="sign-with-btn mx-auto mt-2" [src]="googleUrl" (mousedown)="changeGoogleTo('pressed')" (mouseover)="changeGoogleTo('focus')" (mouseout)="defaultGoogleUrl()"/>
      </figure>
    </form>
    <nav class="d-flex flex-column">
      <a routerLink="./signUp" routerLinkActive="active">Not registered yet?</a>
      <a routerLink="./" routerLinkActive="active">Forgot password?</a>
    </nav>
  </section>
</article>