:host{
  background-color: darkslategrey;
  overflow-y: auto;
  display: block;
  flex: 1;
}

.party-list{
  display: flex;
  flex-flow: row wrap;
  margin: 1.5em;
  flex-basis: 90%;
}

.party-list__grid{
  display: flex;
  margin: 0.5em;
}

.child{
  cursor: pointer;
  padding: 0.25em;
  height: 200px;
  background-color: #FFFFFFDD;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.child:hover{
  transform: scale(1.2);
  background-color: whitesmoke;
}

.image{
  background: url('/assets/hands2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: local;
}

.party-header{
  overflow: hidden;
  white-space: nowrap;
}