<h2 style="font-weight: bold; font-family: Comic Sans MS;">
  Welcome to this awesome app!
</h2>
<div class="d-flex flex-fill flex-column" style="justify-content: space-between;font-size: 2em;margin: 1em 3em;">
  <div class="d-flex">
    <div class="flex-fill"></div>
    <div class="m-sm-2" (click)="change()" [@anime]="isOpen ? true : false" (@anime.done)="changeImage($event)">
      <fa-icon [style.color]="icons[iconCounter].color" class="px-sm-2" [icon]="icons[iconCounter].icon"></fa-icon>
      <span [style.color]="icons[iconCounter].color" style="font-family: Comic Sans MS; border-width: 2px!important;" class="border-left border-dark px-sm-2">{{icons[iconCounter].message}}</span>
    </div>
  </div>
  <div class="d-flex">
    <div class="m-sm-2" (click)="change()" [@anime]="isOpen ? true : false" (@anime.done)="changeImage($event)">
      <fa-icon [style.color]="icons[iconCounter].color" class="px-sm-2" [icon]="icons[iconCounter].icon"></fa-icon>
      <span [style.color]="icons[iconCounter].color" style="font-family: Comic Sans MS; border-width: 2px!important;" class="border-left border-dark px-sm-2">{{icons[iconCounter].message}}</span>
    </div>
    <div class="flex-fill"></div>
  </div>
  <div class="d-flex">
    <div class="flex-fill"></div>
    <div class="m-sm-2" (click)="change()" [@anime]="isOpen ? true : false" (@anime.done)="changeImage($event)">
      <fa-icon [style.color]="icons[iconCounter].color" class="px-sm-2" [icon]="icons[iconCounter].icon"></fa-icon>
      <span [style.color]="icons[iconCounter].color" style="font-family: Comic Sans MS; border-width: 2px!important;" class="border-left border-dark px-sm-2">{{icons[iconCounter].message}}</span>
    </div>
    <div class="flex-fill"></div>
  </div>
</div>
<h1 class="d-flex flex-column" style="font-weight: bold; font-family: Comic Sans MS;">
  Check how it's easy! :)
  <fa-icon [icon]="arrowDown"></fa-icon>
</h1>